.loading-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10vh !important;
}

.product-grid-container {
  margin-top: 2vh !important;
}

.product-media {
  height: 70vh;
  width: 90%;
}

.qty-control {
  width: 40%;
}
